.imageRotation {
	position: relative;
	overflow: hidden;
	width: 470px;
	height: 180px;
	background-color: #eee;
	
}
/*ul,ol{margin:0;padding:0;}
ul{ width:470px; position:absolute;left:0; top:0px; z-index:1;}
ul li{width:470px; position: absolute; top: 0px}*/

.imageList {
	position: absolute;
	width: 470px;
	overflow: hidden;
	height: 150px;
	left: 0;
	top: 0;
}

.imageList img{
	position: absolute;
	width: 470px;
	height: 150px;
	border: none;
	top: 0;
}

.boxList {
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
	line-height: 1;
}

.boxList span {
	display: inline-block;
	width: 16px;
	height: 16px;
	color: #ddd;
	background-color: #808;
	margin: 0;
	padding: 0;

	/*border-radius: 10px;
    border: 1px solid #fff;*/
	/*overflow: hidden;*/
}

.boxList span.active {
	background-color: #e0e;
}



